/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 100px!important

details
  margin-bottom 1rem

summary
  cursor pointer

ul.contains-task-list
  padding-left 0!important
.contains-task-list li
  list-style-type none
